@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 122px;
    top: 50px;
  }
  100% {
    left: 244px;
    top: 0;
  }
}
.stage {
  background: pink;
  border-radius: 2px;
  height: 100px;
  position: relative;
  min-width: 538px;
}
.stage:hover .ball {
  animation: slide 3s ease-in-out 1s infinite alternate;
}
.stage:active .ball {
  animation-play-state: paused;
}
.ball {
  background: black;
  border-radius: 50%;
  height: 100px;
  position: absolute;
  width: 100px;
}